<section id="hero"> 
	<div class="container group">
		<div class="lead">
			<h2>Zero hours made <strong>better</strong>.</h2>
			<h3>Making flexibility work for businesses and workers.</h3>
		</div>	
	</div>	
</section>

<section id="steps">
	<div class="container group">
		<div class="column">
			<img src="/businessperson.png" alt="business icon">
			<h3> Businesses </h3>
			<p> Post short-term or last-minute work, and find rated workers quickly. </p>
		</div>	
		<div class="column">
			<img src="/person.png" alt="worker icon">
			<h3> Workers </h3>
			<p> Work when you want to, building your profile with reviews. </p>
		</div>	
	</div>
</section>

<section id="quotes">
	<div class="container group">
		<div class="column">
			<img src="harriet.jpg" alt="Harriet">
			<blockquote>"Hero Hours enables us to make the most of seasonal busy periods."</blockquote>
			<p> Harriet, LOVESPACE</p>
		</div>
		<div class="column">
			<img src="rob.jpg" alt="Rob">
			<blockquote>"My worries about sick days effecting our service are a thing of the past."</blockquote>
			<p>Rob, The Water Delivery Company</p>
		</div>
		<div class="column">
			<img src="demetrios.jpg" alt="Demetrios">
			<blockquote>"Now I can get short-term help so easily, I spot new opportunities constantly."</blockquote>
			<p>Demetrios, One Fine Stay</p>
		</div>
	</div>
</section>

		<section id="contact">
			<div class="container group">
				<div class="signupinfo">
					<h3> Find out when we launch our full service. </h3>
				</div>

				<!-- Begin MailChimp Signup Form -->
				<div id="mc_embed_signup">
					<form action="http://linkedin.us3.list-manage.com/subscribe/post?u=cd4887c631d4aa7a9152dea12&amp;id=ec06106a23" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					
						<div class="mc-field-group">
							<label for="mce-EMAIL">Email Address 
						</label>
							<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"> <!-- "name" is for the mailchimp server, nothing to do with this end/css etc -->
						</div>
						
						<div class="mc-field-group">
							<label for="mce-FNAME">First Name </label>
							<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
						</div>
						
						<div class="mc-field-group">
							<label for="mce-LNAME">Last Name </label>
							<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
						</div>
						
						<div class="clear"><input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
					</form>
				</div>
				<!--End mc_embed_signup-->
			</div>			
		</section>


