<section id="dash">
		<div class="container group">
			<div class="dashnav">
			<h2>Home</h2>
					<ul>
						<li>View profile</li>
						<li><%= link_to "Edit profile", edit_user_registration_path %></li>
						<li>View open jobs</li>
						<li>View accepted jobs</li>
						<li>View completed jobs</li>
					</ul>
				</div>
			</div>
		</section>	